<!-- *Going to make the Pizza Chef Creation Page* -->
<!--Create 2 column, left for pizza builder, right for current selection-->
    <h1>Welcome to the {{ title }}!</h1>
    <mat-stepper orientation="vertical" [linear]="isLinear" #stepper>
      
      <!--Pizza Size Selection-->
      <mat-step [stepControl]="chooseSizeGroup">
        <form [formGroup]="chooseSizeGroup">
          <ng-template matStepLabel>Choose Your Pizza Size</ng-template>
          <mat-label>Pizza Sizes:</mat-label>
            <mat-radio-group
            class="pizza-radio-group">
              @for (pizzaSize of pizzaSizes; track pizzaSize){
                <mat-radio-button class="pizza-radio-button" [value]="pizzaSize">{{pizzaSize}}</mat-radio-button>
              }
            </mat-radio-group>
          <div>
            <button mat-raised-button color="primary" matStepperNext>Choose Crust</button>
          </div>
        </form>
      </mat-step>
    
    
    
      <!--Crust Selection Radio Step-->
      <mat-step [stepControl]="chooseCrustGroup">
        <form [formGroup]="chooseCrustGroup">
          <ng-template matStepLabel>Choose Your Crust</ng-template>
          <mat-label>Crust Types</mat-label>
            <!--Add Topping Checboxes Here-->
            <mat-radio-group
            class="pizza-radio-group">
              @for (crust of crustTypes; track crust){
                <mat-radio-button class="pizza-radio-button" [value]="crust">{{crust}}</mat-radio-button>
              }
            </mat-radio-group>
          <div>
            <button mat-button matStepperPrevious>Return To Pizza Sizes</button>
            <button mat-raised-button color="primary" matStepperNext>Choose Toppings</button>
          </div>
        </form>
      </mat-step>
    
      <!--Toppings Checkbox Control Step-->
      <mat-step [stepControl]="chooseToppingsGroup">
        <form [formGroup]="chooseToppingsGroup">
          <ng-template matStepLabel>Choose Your Toppings (Up to 3)</ng-template>
          <mat-label>Available Toppings</mat-label>
            <!--Add Topping Checboxes Here from array-->
            @for (topping of toppings; track topping){
              <p>
                <img alt="{{topping}} Topping">
              </p>
              <p>
                <mat-checkbox class="pizza-radio-button" [value]="topping">{{topping}}</mat-checkbox>
              </p>
              }
          <div>
            <button mat-button matStepperPrevious>Return To Crust Types</button>
            <button mat-raised-button color="primary" matStepperNext>Name Your Pizza</button>
          </div>
        </form>
      </mat-step>
    
      <!--Name Pizza and Confirm Order-->
      <mat-step [stepControl]="chooseNameGroup">
        <form [formGroup]="chooseNameGroup">
          <ng-template matStepLabel>Name Your Pizza and Confirm Order</ng-template>
          <mat-form-field>
            <mat-label>Pizza Name</mat-label>
            <input matInput formControlName="nameCtrl" placeholder="Pizza Party" required>
          </mat-form-field>
          <div>
            <button mat-raised-button matStepperPrevious>Return To Toppings</button>
            <button mat-raised-button color="primary">Review Order</button>
          </div>
        </form>
    
      </mat-step>
    
      <!--Show Pizza Being Built-->
    </mat-stepper>


